<div class="message">
    <h3 class="message-header">{{messages.subject}} </h3>
    <hr>
    <div class="message-summary">

        
        <div class="sender"> From: {{messages.from}} </div>
        <div> To: {{messages.to}} </div>
        <div> {{ todayDate | date : 'ccc MM/dd/yy, HH:mm ' }} </div><!-- TODO date formatted with filter -->
        <div>
        <app-common-star [entity]="messages.starred"></app-common-star>
        <button class="btn" (click)="onBtnPressed($event)">Reply</button>
        <button class="btn" (click)="onBtnPressed($event)">Forward</button>
        <button class="btn" (click)="onBtnPressed($event)">Delete</button>
        </div>
    </div>
    <div>
    <pre class="message-body">
        {{ messages.body }}
    </pre>
    </div>
</div>