<div class="message">
    <h3 class="message-header">{{messages[0].subject}} </h3>
    <hr>
    <div class="message-summary">

        
        <div class="sender"> From: {{messages[0].from}} </div>
        <div> To: {{messages[0].to}} </div>
        <div> 10/03/2016 12:00</div><!-- TODO date formatted with filter -->
        <div>
        <app-common-star [entity]="messages[0].starred"></app-common-star>
        <button class="btn" (click)="onBtnPressed($event)">Reply</button>
        <button class="btn" (click)="onBtnPressed($event)">Forward</button>
        <button class="btn" (click)="onBtnPressed($event)">Delete</button>
        </div>
    </div>
    <div>
    <pre class="message-body">
        {{ messages[0].body }}
    </pre>
    </div>
</div>