<ng-content select="[title]"></ng-content>

<ul class="nav nav-pills nav-stacked">
  <li *ngFor="let item of folderList; let $index = index" >
    <div
      class="folder"
      (click)="onFolderSelected($event)"
      [ngClass]="{ 'folder-selected': item.index == currentFolder }"
      [id]="item.index"
      [title]="item.name"
    >
      {{ $index }} - {{ item.name }}
    </div>
  </li>
  <li class="folder" *ngIf="allowCreate">
    <form class="form-inline">
      <input
        class="form-control"
        type="text"
        name="newFolderName"
        [(ngModel)]="newFolderName"
      />
      <button TODO-MANAGE-ADD>+</button>
      <p>
        {{ newFolderName }}
      </p>
    </form>
  </li>
</ul>
