<div>
  <button (click)="onPrec()">◀</button>
  <span>{{ currentDate | date : "MMM  YYYY" }}</span>
  <button (click)="onSucc()">▶</button>
</div>
<form  >
<span *ngFor="let day of allMonth[currentMonth]">
  <input
  type="button"
  (click)="onDateClick($event)"
  [id]="day.enum"
  [value]="day | calendar : 0"
  *ngIf="!!(day | calendar : 0)"
/>
  <input
    type="button"
    (click)="onDateClick($event)"
    [id]="day.enum"
    [value]="day | calendar : 1"
    *ngIf="!!(day | calendar : 1)"
  />
  <input
    type="button"
    (click)="onDateClick($event)"
    [id]="day.enum"
    [value]="day | calendar : 2"
    *ngIf="!!(day | calendar : 2)"
  />
  <input
    type="button"
    (click)="onDateClick($event)"
    [id]="day.enum"
    [value]="day | calendar : 3"
    *ngIf="!!(day | calendar : 3)"
  />
  <input
    type="button"
    (click)="onDateClick($event)"
    [id]="day.enum"
    [value]="day | calendar : 4"
    *ngIf="!!(day | calendar : 4)"
  />
  <input
    type="button"
    (click)="onDateClick($event)"
    [id]="day.enum"
    [value]="day | calendar : 5"
    *ngIf="!!(day | calendar : 5)"
  />
  <input
    type="button"
    (click)="onDateClick($event)"
    [id]="day.enum"
    [value]="day | calendar : 6"
    *ngIf="!!(day | calendar : 6)"
  />
  <div *ngIf="day.dayOfTheWeek === 6"></div>
</span>
</form>


