  <div class="page-container">
    <header class="horizontal-container">
      <app-mail-logo></app-mail-logo>

      <app-search-panel
        class="horizontal-center"
        default-query=" defaultQuery "
        (queryInserted)= "onQueryChange($event)"
        >
      </app-search-panel>

      <div class="right-align">
        user.email
      </div>
    </header>

    <section class="page-center horizontal-container">

      <app-folder-components></app-folder-components>
      
      <section class="horizontal-center vertical-container">
<div *ngIf="allowPage">

        <app-message-list
          [messages]="messages"
          (selectEmail)="onSelectEmail($event)"
          (starEmail)="onStarEmail($event)"
        >
        </app-message-list>
</div>

        <div class="spacer">
          <hr />
        </div>
        <container-element [ngSwitch]="displayCase">
          <app-message-viewer
            *ngSwitchCase="'show'"
            (btnPressed)="onBtnMessageViewerPressed($event)"
            [message]="mailToShow"
            (starEmail)="onStarEmail($event)"
          >
          </app-message-viewer>
          <app-mail-composer
            *ngSwitchCase="'newMail'"
            (sendEmail)="onSendEmail($event)"
            (cancelEmail)="onCancelEmail()"
          ></app-mail-composer>
          <app-mail-void *ngSwitchDefault></app-mail-void>
          <app-mail-composer
            *ngSwitchCase="'reply'"
            [newMessage]="replyMail"
            (sendEmail)="onSendEmail($event)"
            (cancelEmail)="onCancelEmail()"
            [isReplyng]="true"
          ></app-mail-composer>
          <app-mail-composer
            *ngSwitchCase="'forward'"
            [newMessage]="forwardMail"
            (sendEmail)="onSendEmail($event)"
            (cancelEmail)="onCancelEmail()"
            [isForwarding]="true"
          ></app-mail-composer>
        </container-element>
      </section>
    </section>

    <footer>
      powered by Angular and <a href="http://www.nispro.it">NIS s.r.l.</a>
      <br />
    </footer>
  </div>
