<div class="page-container">
  <header class="horizontal-container">
    <app-mail-logo></app-mail-logo>
    <!--        
        
        <search-panel class="horizontal-center"
            default-query=" defaultQuery "
            on-search-start = "search(query) "
            >
        </search-panel>
        
        <div class="right-align" ng-controller="AccountController as accountCtrl">
            {{accountCtrl.accountEmail}}
        </div>
-->
  </header>

  <section class="page-center horizontal-container">
    <nav class="page-left-menu">
      <section class="compose-toolbar">
                <button (click)="composeEmail()" class="btn btn-danger">Compose</button>
            </section>

      <section class="folder-list">
        <app-folder-list
          [currentFolder]="currentFolder"
          [allowCreate]="false"
          [folderList]="folderList.list"
          (folderSelected)="onFolderSelected($event)"
        >
          <h3 title>Folder list</h3>
        </app-folder-list>
      </section>

      <section class="folder-list">
        <app-folder-list
          [currentFolder]="currentFolder"
          [allowCreate]="true"
          [folderList]="folderList.custom"
          (folderSelected)="onFolderSelected($event)"
        >
          <h3 title>Custom list</h3>
        </app-folder-list>
      </section>
    </nav>

    <!-- <section class="mail-composer horizontal-center "
                    [hidden]="!composerActive"> -->
    <!-- TODO3 migrate composer 
            <message-composer 
                BIND PROPERTIES AND EVENTS
            >
                
            </message-composer> 
            -->
    <!-- </section>  -->

    <section class="horizontal-center vertical-container">
      <app-message-list [messages]="messages"> </app-message-list>
      <div class="spacer">
        <hr />
      </div>
      <container-element [ngSwitch]="displayCase">
        <app-message-viewer
          *ngSwitchCase="'show'"
          (btnPressed)="onBtnPressed($event)"
          [messages]="messages"
        >
        </app-message-viewer>
        <app-mail-composer *ngSwitchCase="'newMail'" (sendEmail)="onSendEmail($event)"></app-mail-composer>
        <app-mail-void *ngSwitchDefault></app-mail-void>
      </container-element>
    </section>
  </section>

  <footer>
    powered by Angular and <a href="http://www.nispro.it">NIS s.r.l.</a>
    <br />
  </footer>
</div>
