<div class="message">
  <div class="message-header">New Email</div>
  <hr />
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="subject"></label
      ><input
        type="text"
        id="subject"
        placeholder="Subject..."
        class="new-mail"
        formControlName="subject"
      />
      <span *ngIf="!signupForm.get('subject').valid && signupForm.get('subject').touched" class="inputError"
        ><i>*Missing camp</i></span
      >
    </div>
    <br />
    <div>
      <label for="to"></label>
      <input
        type="mail"
        id="to"
        placeholder="Send this email to..."
        class="new-mail"
        email
        formControlName="email"
      />
      <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched" class="inputError"
        ><i>*Wrong format or missing camp </i></span
      >
    </div>
    <br />
    <div>
      <textarea
        name="body"
        id="body"
        cols="100%"
        rows="8"
        class="message-body"
        placeholder="Your email body here..."
        class="message-body"
        formControlName="body"
      ></textarea>
      <span class="inputError" *ngIf="!signupForm.get('body').valid && signupForm.get('body').touched"><i>*Invalid body</i></span>
    </div>
    <input type="submit" class="btnSubmit" value="Send" [disabled]="!signupForm.valid"/>
    <input type="button" class="btnSubmit" value="Cancel" />
    <input type="button" class="btnSubmit" value="Save" />
  </form>
</div>
