body {
  font-family: sans-serif;
  margin: 0px;
  font-size: larger;
}

section {
  padding: 15px;
}

.page-container {
  display: flex;
  flex-flow: column nowrap;
  /* border: 1px solid red; */
  height: 100%;
}

.page-center {
  flex: 3 auto;
  /* border: 1px solid red; */
}

.vertical-container {
  display: flex;
  flex-flow: column wrap;
  /* border: 1px solid red; */
}

.horizontal-container {
  display: flex;
  flex-flow: row wrap;

  /* border: 1px solid blue; */
}
.horizontal-center {
  flex: 3;
  /* border: 1px solid blue; */
}

.calendar {
  margin: 30px 0px 20px 20px;
}

header {
  background-color: lightblue;
  padding: 5px;
  min-height: 40px;
}

footer {
  background-color: lightblue;
  min-height: 30px;
}

.logo {
  min-width: 200px;
  padding-right: 20px;
}

.folder-list {
  margin-left: 5px;
  padding: 5px;
}

.page-left-menu {
  background-color: lightgrey;
  padding-right: 10px;
}
.message-list {
  background-color: #ffffff;
  padding: 5px;
  height: 180px;
}

.message {
  padding: 2px;
}

.message-body {
  margin: 10px;
}

.message-body {
  border: solid gray 1px;
}

.message-list-odd {
  background-color: lightgrey;
}

.message-list-even {
  background-color: white;
}

.message-current {
  font-weight: bold;
}
.message-selected {
  background-color: yellow;
}

.star {
  color: grey;
}
.star-starred {
  color: orange;
  font-weight: bold;
}
.glyphicon {
  background-color: transparent;
  border: none;
  font-size: large;
}

.right-align {
  margin-left: auto;
}

.folder {
  padding: 5px;
  border-left: 3px;
}
.folder-selected {
  font-weight: bold;
  border-left: 3px solid red;
}

.align-right {
  float: right;
}

hr {
  margin-top: 5px;
  margin-bottom: 10px;
}
.nav-pills > li > a {
  padding: 5px 10px;
}

.sender {
  font-weight: bold;
}

.ng-valid[required],
.ng-valid.new-mail,
.ng-valid.message-body {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

form.ng-invalid {
  border: 1px solid #a94442; /* red */
}

.new-mail {
  padding: 2px;
  margin-top: 5px;
  margin-left: 10px;
  min-width: 300px;
  border-radius: 5px;
}

.inputError {
  color: #a94442;
  text-decoration: underline dotted;
  margin-left: 5px;
}

.btnSubmit {
  margin: 5px 30px;
  padding: 4px;
  width: 100px;
}

.btn-danger {
  background-color: #a94442;
  padding: 15px;
  border-radius: 5px;
  margin: 10px 0px;
  text-align: center;
}

.compose-toolbar {
  margin: auto;
  width: fit-content;
}

.search-input {
  border-radius: 5px;
  margin: 30px 0px 20px 120px;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.loading-spinner {
	position: fixed;
	right: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
	border: solid 10px springgreen;
	border-radius: 70%;
	border-right-color: transparent;
	border-top-color: transparent;
	animation-name: rotate;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}